<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/urls">TinyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/urls">My URLs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/urls/new">New URL</a>
      </li>
    </ul>
    <% if (!user_id) { %>
    <form class="form-inline my-2 my-lg-0" method="GET" action="/login">
      <button class="btn btn-dark my-2 mr-sm-2" type="submit">Sign in</button>
    </form>
    <a class="btn btn-outline-primary my-2 mr-sm-2" href="/register" role="button">Register</a>
    <% } else { %>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/urls">Signed in as: <%= user_id %></a>
      </li>
    </ul>
      <form class="form-inline my-2 my-lg-0" method="POST" action="/logout">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Sign out</button>
      </form>
    <% } %>
  </div>
</nav>